.header {
  background-color: var(--bcg-color);
  border-bottom: 1px solid #ececec;
}

.header__section {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header__logo {
  color: var(--logo-header);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.menu_burger {
  border: transparent;
  background-color: var(--bcg-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.logo-web {
  color: var(--logo-web);
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.menu-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: var(--transition-dur-and-func);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &::after {
    content: '';
    width: 0px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(34px);
    transition: var(--transition-dur-and-func);
  }
}
.link-active {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.link-active::after,
.menu-link:hover::after {
  width: 100%;
}
// .header__right {
//   display: flex;
//   justify-content: flex-end;
// }
.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;

    // flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;

    align-items: baseline;
  }
}

.contact__list {
  display: flex;

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.contact__link {
  display: flex;
  align-items: center;
}
.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: var(--transition-dur-and-func);
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-mail {
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.contact-tel {
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
