.team {
  background-color: var(--btn-bcg);
}
.team__picture img {
  max-width: 100%;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.team__item {
  margin-left: auto;
  margin-right: auto;

  max-width: 450px;
  background-color: var(--bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 479px) {
    width: 270px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
/* width: calc((100% - 90px) / 4); */

.team-text {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  @media screen and( min-width:768px) {
    padding-bottom: 30px;
  }
}
.teammate-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-desc {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.social__list {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  column-gap: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.team-social-links {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-dur-and-func);
  &:hover .social-icon,
  &:focus .social-icon {
    fill: var(--bcg-color);
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
